body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-color: pink;
}

.App{
  text-align: center;
}

.Avail {
  background-color: lightblue;
  max-width: 1000px;
  margin: 0 auto ;
}
.Rented {
  background-color: lightsalmon;
  max-width: 1000px;
  margin: 0 auto;
  
}

li{
  background-color: black;
  color: aliceblue;
  margin: 1% 40%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out .5s;
  list-style-type: none;
}

li:hover{
    background-color: #555;
    transform: scale(.95, .95);
}

